<div class="container">
	<h2 class="sp-main-title">ABOUT FANCLASH</h2>
	<p>On FanClash, you can make real money with your sports knowledge in a really fun way. Currently, FanClash offers two types of games: Salary Cap Drafts and Pick Five. Both are daily in duration (weekly for football). Win and you’re paid out by the end of the night.</p>

	<p>FanClash, based in Austin, TX, was born in 2014 and has paid out millions of dollars to sports fans across the US. FanClash’s games are 100% legal and you can play for free or for real money (deposit via paypal or any major credit card, withdraw through paypal or check with no fees and no hassle, ever).</p><br />

	<h2 class="sp-main-title">OUR PROMISE</h2>
	<p>FanClash’s mission is to provide sports fans with the best place to play games they love. We believe great businesses are built by making customers happy. We will continue to do everything we can to try to build the best place for you. All player funds are kept safely in a segregated account that is solely for player funds (we do not and will not ever use player funds for any operating expenses) and we take every safeguard possible to guarantee the safety and fairness of our games.</p><br />

	<h2 class="sp-main-title">THE TEAM</h2>
	<div class="row">
		<div class="col-sm-6 team-member">
			<h3 class="sp-mini-title">Jose R. Borja</h3>
			<h4>Founder/Developer</h4>
			<%= image_tag("jose.png", class: "about-pic") %>
			<p>Jose is currently a full stack developer at MakerSquare. He has an extensive background on network and systems administration. Jose Also love sports his favorite sports include soccer, baseball and surf.</p>
		</div>
		<div class="col-sm-6 team-member">
			<h3 class="sp-mini-title">Drew Garcia</h3>
			<h4>Founder/Developer</h4>
			<%= image_tag("drew.jpg", class: "about-pic") %>
			<p>Recent graduate of Texas A&amp;M and MakerSquare web developing boot camp. Coder by day, gamer by night. Also has his pilots license to continuously discover the world. Lover of all sports and outdoor recreational activities.</p>
		</div>
	</div>
</div>


