 <!-- Footer -->
    <footer id="footer" class="main-footer">
    <hr>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-5">
            <p><a href="#">Facebook</a> | <a href="#">Twitter</a></p>
          </div>
          <div class="col-xs-6 col-sm-3">
            <p>2014 &copy; FanClash</p>
          </div>
          <div class="col-xs-8 col-sm-4">
            <p class="pull-right"><a href="#">Privacy</a></p>
            <p class="pull-right"><a href="#">Terms</a> |&nbsp;</p>
            <p class="pull-right"><a href="#">Help</a> |&nbsp;</p>
            <p class="pull-right"><a href="#">About</a> |&nbsp;</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->