 <!-- Footer -->
<footer id="footer" class="main-footer">
<hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-5">
        <p><a href="#">Facebook</a> | <a href="#">Twitter</a></p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <p>2014 &copy; FanClash</p>
      </div>
      <div class="col-xs-8 col-sm-4">
        <p class="pull-right"><a href="#privacy" data-toggle="modal">Privacy</a></p>
        <p class="pull-right"><a href="#">Terms</a> |&nbsp;</p>
        <p class="pull-right"><a href="#contact" data-toggle="modal">Contact Us</a> |&nbsp;</p>
        <p class="pull-right"><a href="#">About</a> |&nbsp;</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->


<!-- Contact Modal -->
<div class="modal fade" id="contact" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h3>Contact Us</h3><hr>
          <div class="form-group">
            <label for="contact-name" class="col-md-2 control-label">Name:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="contact-name" placeholder="Full Name"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="contact-email" class="col-md-2 control-label">Email:</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="contact-email" placeholder="you@example.com"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="contact-message" class="col-md-2 control-label">Message:</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="6"></textarea>
            </div>
          </div>
          <div class="modal-buttons"><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

            <button type="button" class="btn dk-button">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Contact Modal -->

<!-- Privacy Modal -->
<div class="modal fade" id="privacy" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h3>Privacy</h3><hr>
            <h4>PRIVACY INFORMATION</h4>
            <p>This is FanClash’s online privacy policy. This policy applies only to activities FanClash engages in on its website and does not apply to FanClash activities that are “offline” or unrelated to the website. FanClash collects certain anonymous data regarding the usage of the website. This information does not personally identify users, by itself or in combination with other information, and is gathered to improve the performance of the website. The anonymous data collected by the FanClash website can include information such as the type of browser you are using, your IP address and the length of the visit to the website.</p>

            <p>You may also be asked to provide personally identifiable information on the FanClash website, which may include your name, address, telephone number, credit card number, and e-mail address. This information can be gathered when feedback or e-mails are sent to FanClash, when you register for services or request additional information or literature. In all such cases you have the option of providing us with personally identifiable information, but certain functions on the website may not be available to you.</p>

            <h4>COOKIES.</h4>
            <p>Cookies are small bits of data that are deposited on a user’s hard drive. The FanClash website utilizes Cookies and IP addresses for certain functions. Cookies permit users to store their password and other user information without having to constantly re-enter this data. Cookies also permits FanClash and our advertisers to tailor our website and advertising to your needs. Most browsers permit users to decline to accept Cookies, although the default setting is typically to accept them. You may choose to decline the Cookies, but certain functions of the website may not be accessible to you.</p>

            <h4>USE AND DISCLOSURE OF INFORMATION.</h4>
            <p>FanClash does not sell personally identifiable information, such as your name or e-mail address to advertisers. However, non-personal “aggregated data” is used to enhance the operation of our website, analyze interest in the areas of our website and to inform our advertisers about the number of users that have viewed their advertising. Moreover, we may in some circumstances disclose personally identifiable information to third parties to enhance your experience on our website. Additionally, if you provide FanClash with content for publishing or feedback, we may publish your user name or other identifying data.</p>

            <p>Certain portions of the website request that you provide personally identifiable information, to FanClash in order to register for services, create an account, or request additional information or literature. If you provide us with personally identifiable information for these purposes, we may provide that information to third-parties, subject to applicable law. If you do not wish to have your information shared with these third-parties then please do not provide us with that information.</p>

            <p>FanClash may also disclose personally identifiable information in order to respond to a subpoena, court order or other such request. FanClash may also provide such personally identifiable information in response to a law enforcement agency's request or as otherwise required by law.</p>

            <p>Your personally identifiable information may be provided to a third party if FanClash files for bankruptcy, or there is a transfer of the assets or ownership of FanClash in connection with proposed or consummated corporate reorganizations, such as mergers or acquisitions.</p>

            <h4>OTHER WEBSITES.</h4>
            <p>FanClash is not responsible for the privacy policies of websites to which it links. If you provide any information to such third parties different rules regarding the collection and use of your personal information may apply. We strongly suggest you review such third party's privacy policies before providing any data to them.</p>

            <h4>SECURITY.</h4>
            <p>FanClash takes appropriate steps to ensure data privacy and security including through various hardware and software methodologies. However, FanClash cannot guarantee the security of any information that is disclosed online.</p>

            <h4>CHILDREN.</h4>
            <p>FanClash does not knowingly collect personal information from children under the age of 18. Children are not permitted to use the FanClash website or services, and FanClash requests that children under the age of 18 not submit any personal information to the website. Since information regarding children under the age of 18 is not collected, FanClash does not knowingly distribute personal information regarding children under the age of 18.</p>

            <h4>QUESTIONS OR COMMENTS.</h4>
            <p>If you have any questions or comments regarding this privacy policy, please contact contact@fanclash.com.</p>

            <h4>MODIFICATIONS OF THE PRIVACY POLICY.</h4>
            <p>FanClash reserves the rights to modify its privacy policy at any time and will notify you by posting an amendment to the privacy policy on the website. Such modifications will become effective on the day they are posted. FanClash encourages you to frequently review the privacy policy for any modifications.</p>

            <p>Effective May 16, 2014.</p>

            <div class="modal-buttons">
              <button type="button" class="btn dk-button" data-dismiss="modal">Close</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Privacy Modal -->