<div class="container">
	<h2>ABOUT FANCLASH</h2>
	<p>On FanClash, you can make real money with your sports knowledge in a really fun way. Currently, FanClash offers two types of games: Salary Cap Drafts and Pick Five. Both are daily in duration (weekly for football). Win and you’re paid out by the end of the night.</p>

	<p>FanClash, based in Austin, TX, was born in 2014 and has paid out millions of dollars to sports fans across the US. FanClash’s games are 100% legal and you can play for free or for real money (deposit via paypal or any major credit card, withdraw through paypal or check with no fees and no hassle, ever).</p>

	<h2>OUR PROMISE</h2>
	<p>FanClash’s mission is to provide sports fans with the best place to play games they love. We believe great businesses are built by making customers happy. We will continue to do everything we can to try to build the best place for you. All player funds are kept safely in a segregated account that is solely for player funds (we do not and will not ever use player funds for any operating expenses) and we take every safeguard possible to guarantee the safety and fairness of our games.</p>

	<h2>THE TEAM</h2>
	<div class="row">
		<div class="col-sm-6">
			<h3>Jose R. Borja</h3>
			<!-- <img src=""> Some picture -->
			<p>Image and Mini Bio</p>
		</div>
		<div class="col-sm-6">
			<h3>Drew Garcia</h3>
			<!-- <img src=""> Some picture -->
			<p>Image and Mini Bio</p>
		</div>
	</div>
</div>


