<div class="container">
  <div class="intro">
    <h2>Join Today</h2>
    <h3>Play Fantasy pick five for MLB and NBA</h3>
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("johnny-cueto.jpg", class: "main-pic") %>
      </div>
      <div class="col-sm-6">
        <%= image_tag("lebron.jpg", class: "main-pic") %>
      </div>
    </div>
    <% if !user_signed_in? %>
    <div class="row">
      <div class="col-sm-12">
        <p><%= link_to "Sign Up Now", sign_up_path, class: "btn btn-success btn-lg" %></p>
        <p>OR</p>
        <p><%= link_to "Sign In", sign_in_path, class: "btn btn-warning btn-lg" %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>