<div class="intro">
  <div class="container">
    <div class="row intro-box">
      <div class="col-sm-7">
        <h3>What is FanClash?</h3>
        <p>Scenester iPhone art party Bushwick bespoke, literally Intelligentsia Neutra. Photo booth asymmetrical tousled, kogi PBR messenger bag locavore typewriter plaid squid flexitarian. Freegan lo-fi distillery, Shoreditch fap sartorial narwhal mustache trust fund skateboard irony butcher four loko Blue Bottle umami.</p>
        <h3>How to Play?</h3>
        <p>Carles Austin kitsch slow-carb, mlkshk PBR Helvetica. Street art VHS forage, vegan bespoke ethnic Banksy art party pug next level beard Truffaut. Kogi Godard wayfarers Kickstarter, Pinterest seitan lo-fi twee. Paleo mlkshk High Life crucifix, Tonx Marfa cornhole fingerstache. Lomo keytar Intelligentsia meggings.</p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
      	<%= image_tag("player-pick.png", id: "main-pic") %>
        <!-- <img id="main-pic" src="images/player-pick.png"> -->
      </div>
    </div>
  </div>
</div>