

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>

<center><h1><%= @game.sport %></h1></center>
<div class="usersPicks">
<h3>Your Picks</h3>
  <% @userPicks.each do |pick| %>
    <%= pick.player_name %><br/>
  <% end %>
</div>

<div class="opponentsPicks">
</div>

<div class="userList">
<h3>Users In Game</h3>
  <% @userList.each do |user| %>
<%= link_to("#{user.username}", "live/#{@game.id}/#{user.username}", :rel => 'shadowbox; width=500; height=300;') %>
  <% end %>
</div>



